<% @submit_text = 'Create Location' %>

<div class="geofences">
  <div class="page-title geofences__title">
    <div>Create Location</div>
  </div>

  <%= render partial: 'geofence_form' %>
</div>
