 <div class="confirmation-modal">
   <div class="confirmation-modal__header">
     Confirm Deletion
   </div>
   <div id="confirmation-text" class="confirmation-modal__textbox">
   </div>
   <div class="confirmation-modal__actions">
     <div class="confirmation-modal__actions__container">
       <a id="modal-confirm" class="button button--primary button--inline button--right button--large">Ok</a>
       <a id="modal-cancel" class="button button--secondary button--inline button--right confirmation-modal__cancel-btn button--large">Cancel</a>
     </div>
   </div>
 </div>
