<% page_name = controller.controller_name  %>
<% group_action = page_name == 'groups' %>
<% device_action = page_name == 'devices' %>
<% account = current_account %>

<div class="nav-tabs">
  <ul>
    <li <% if page_name == 'contact' %> class="selected"<% end %> ><a href="/contact">Contact</a></li>
    <li <% if page_name == 'settings' %> class="selected"<% end %> ><a href="/settings">Settings</a></li>
    <li <% if page_name == 'users' %> class="selected"<% end %> ><a href="/users">Users</a></li>
    <li <% if page_name == 'geofences' %> class="selected"<% end %> ><a href="/geofences">Locations</a></li>
    <li <% if group_action %> class="selected"<% end %> ><a href="/groups">Fleets</a></li>
    <li <% if device_action %> class="selected"<% end %> ><a href="/devices">Devices</a></li>
    <% if account.show_maintenance %> <li <% if page_name == 'maintenances' %> class="selected" <% end %>><a href="<%= url_for(controller: 'maintenances', action: 'index') %>">Maintenance</a></li> <% end %>
    <li <% if page_name == 'reports' %> class="selected"<% end %>><a href="/reports">Reports</a></li>
    <li <% if page_name == 'home'%> class="selected "<% end %> "><a href="/home"><span>Overview</span></a></li>
  </ul>
</div>
