$color-black: #000000;
$color-carbon-gray: #363636;
$color-mine-shaft-gray: #282828;
$color-tundora-gray: #4B4B4B;
$color-dust-gray: #979797;
$color-silver-chalice: #AAAAAA;
$color-silver: #CCCCCC;
$color-pearl: #EDEDED;
$color-white: #FFFFFF;
$catskill-white: #E5F1F4;
$color-azure-blue: #2E6BB0;
$color-cerulean-blue: #2A69B2;
$color-astronaut-blue: #29537E;
$color-havelock-blue: #4A90E2;
$color-danube-blue: #5F94C6;

$color-red-berry: #8b0000;
$color-cabaret-red: #D65566;
$color-sunglo-red: #E36B7B;
$color-deep-blush-red: #E88492;

$color-crusta-orange: #FF8840;
$color-atomic-tangerine-orange: #FFA268;
$color-cream-yellow: #FFFFCC;

$color-camarone-green: #006600;
$color-asparagus-green: #709655;
$color-apple-green: #70AD45;
