<div class="page-header">
  <div class="page-header__title-container">
    <div class="page-title">
      Create New User
    </div>
  </div>
</div>

<%= render partial: '/layouts/flash_message' %>

<%= form_for(@user, url: admin_users_path, html: { onsubmit: "return ValidateForm(#{@user.id})" }) do %>
    <%= render partial: 'user_form' %>
<% end %>

<script language="javascript" type="text/javascript">
	window.onload = function() {
		document.getElementById("first_name").focus();
	}
</script>
