<div class="pagination-default">
  <%= will_paginate data, previous_label: '<i class="fa fa-chevron-left" aria-hidden="true"></i>', next_label: '<i class="fa fa-chevron-right" aria-hidden="true"></i>' %>
</div>
